@model ZumaneGas_OperationalSystem.Models.Invetory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Invetory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cylinder_Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cylinder_Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cylinder_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cylinder_Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Invetory_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
