@model ZumaneGas_OperationalSystem.Models.Daily_Report
@{
    ViewBag.Title = "RetrieveReport";
}

<h3><strong>Report > Retrieve Report</strong></h3>
<br />
<div class="row">
    <div class="col-md-3">
        <a href="#" class="list-group-item" style="font-size:large"><span class="glyphicon glyphicon-th-list"></span>  Menu</a>

        <a href="" class="list-group-item" style="font-size:large"><strong>Sale</strong></a>
        <a href="@Url.Action("NewSale","Sale")" class="list-group-item"><span class="glyphicon glyphicon-plus"></span> New Sale</a>
        <a href="@Url.Action("Index","Home")" class="list-group-item"><span class="glyphicon glyphicon-eye-open"></span> View Today's Sales</a>
        <a href="@Url.Action("S_Sale","Sale")" class="list-group-item"><span class="glyphicon glyphicon-search"></span>  Search Sale</a>

        <a href="#" class="list-group-item" style="font-size:large"><strong>Stock</strong></a>
        <a href="@Url.Action("ViewStock","Stock")" class="list-group-item"><span class="glyphicon glyphicon-plus"></span>  New Stock</a>
        <a href="@Url.Action("AvailableStock","Stock")" class="list-group-item"><span class="glyphicon glyphicon-eye-open"></span> View Stock Details</a>

        <a href="#" class="list-group-item" style="font-size:large"><strong>Invetory</strong></a>
        <a href="@Url.Action("Create","Inventories")" class="list-group-item"><span class="glyphicon glyphicon-plus"></span>  New Invetory</a>
        <a href="@Url.Action("Index","Inventories")" class="list-group-item"><span class="glyphicon glyphicon-eye-open"></span>  Show Invetories</a>

        <a href="#" class="list-group-item" style="font-size:large"><strong>Reports</strong> </a>
        <a href="@Url.Action("DailyReport","Report")" class="list-group-item"><span class="glyphicon glyphicon-eye-open"></span>  Daily Report</a>
        <a href="@Url.Action("","Report")" class="list-group-item active"><span class="glyphicon glyphicon-search"></span>  Retrieve Report</a>

        <a href="#" class="list-group-item" style="font-size:large"><strong>Empties</strong> </a>
        <a href="@Url.Action("Create","Inventories")" class="list-group-item"><span class="glyphicon glyphicon-plus"></span> Record Emptiess</a>
        <a href="@Url.Action("DailyReport","Report")" class="list-group-item"><span class="glyphicon glyphicon-eye-open"></span> Available Empties</a>
        <a href="#" class="list-group-item"><span></span> Logout</a>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Report Date: @Html.DisplayFor(model => model.Search_Date)</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <p>
                            Current Cash: <br />
                            + Cash Sales: <br />
                            - EFT Sales: <br />
                            - Payouts:
                            <br />
                            <br />
                            <strong>Sales Information:</strong>  <br />
                            Cooker Top(s) <br />
                            Regulator(s) <br />
                            Cylinder Key
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p>
                            <strong>R @Html.DisplayFor(model => model.Closing_Amount)</strong> <br />
                            R @Html.DisplayFor(model => model.CashSales) <br />
                            R @Html.DisplayFor(model => model.EFTSales) <br />
                            R @Html.DisplayFor(model => model.Payout_Amount)
                            <br />
                            <br />
                            <strong></strong><br />
                           @Html.DisplayFor(model => model.Cooker_Tops) <br />
                           @Html.DisplayFor(model => model.Regulators) <br />
                           @Html.DisplayFor(model => model.CylinderKeys)
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Sales Information (Exchanges)</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <p>
                            <strong>Gas Size:</strong> <br />
                            9kg <br />
                            14kg <br />
                            19kg <br />
                            48kg
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p>
                            <strong>Purchased:</strong> <br />
                            @Html.DisplayFor(model => model.Exchanges_9) <br />
                            @Html.DisplayFor(model => model.Exchanges_14) <br />
                            @Html.DisplayFor(model => model.Exchanges_19) <br />
                            @Html.DisplayFor(model => model.Exchanges_48) (Purchased + Used)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            window.onload = function () {
                var UrlSearch = window.location.pathname;
                var parameters = UrlSearch.split("/");
                console.log("Broken Down url: ", parameters);
           
                $("#btnRetrieve").click(function () {
                    var ReportDate = $("#Report_Date").val();
                    //var Shift = $("#shift").val();
                    $.get('/Report/RetrieveReport?ReportDate=' + ReportDate, function (data) {
                        console.log('Fetched Data:', data);
                    })
                })
            }


        })
    </script>

}
