@model ZumaneGas_OperationalSystem.Models.Sale
@{
    ViewBag.Title = "NewSale";
}

<h5><strong>Sale / New Sale</strong></h5>
<br/>
    <div class="row">
        <div class="col-md-3">
            <a href="#" class="list-group-item" style="font-size:large"><span class="glyphicon glyphicon-th-list"></span>  Menu</a>

            <a href="" class="list-group-item" style="font-size:large"><strong>Sale</strong></a>
            <a href="@Url.Action("NewSale","Sale")" class="list-group-item active"><span class="glyphicon glyphicon-plus"></span> New Sale</a>
            <a href="@Url.Action("Index","Home")" class="list-group-item"><span class="glyphicon glyphicon-eye-open"></span> View Today's Sales</a>
            <a href="@Url.Action("S_Sale","Sale")" class="list-group-item"><span class="glyphicon glyphicon-search"></span>  Search Sale</a>

            <a href="#" class="list-group-item" style="font-size:large"><strong>Stock</strong></a>
            <a href="@Url.Action("ViewStock","Stock")" class="list-group-item"><span class="glyphicon glyphicon-plus"></span>  New Stock</a>
            <a href="@Url.Action("AvailableStock","Stock")" class="list-group-item"><span class="glyphicon glyphicon-eye-open"></span> View Stock Details</a>

            <a href="#" class="list-group-item" style="font-size:large"><strong>Invetory</strong></a>
            <a href="@Url.Action("Create","Inventories")" class="list-group-item"><span class="glyphicon glyphicon-plus"></span>  New Invetory</a>
            <a href="@Url.Action("Index","Inventories")" class="list-group-item"><span class="glyphicon glyphicon-eye-open"></span>  Show Invetories</a>

            <a href="#" class="list-group-item" style="font-size:large"><strong>Reports</strong> </a>
            <a href="@Url.Action("DailyReport","Report")" class="list-group-item"><span class="glyphicon glyphicon-eye-open"></span>  Daily Report</a>

            <a href="#" class="list-group-item" style="font-size:large"><strong>Empties</strong> </a>
            <a href="@Url.Action("Create","Inventories")" class="list-group-item"><span class="glyphicon glyphicon-plus"></span> Record Emptiess</a>
            <a href="@Url.Action("DailyReport","Report")" class="list-group-item"><span class="glyphicon glyphicon-eye-open"></span> Available Empties</a>
            <a href="#" class="list-group-item"><span></span> Logout</a>
        </div>
        <div class="col-md-9">
            <h4><strong>LPG GAS Details:</strong></h4>
            @*FIRST ROW: ITEM 1 DETAILS*@
            <div class="row">
                <div class="col-md-3" style="">
                    <div class="form-group" style="">
                        <span><h4>Gas Size1:</h4> 
                            <select class="form-control" id="GasSize1">
                                <option id="Select">Select Size</option>
                                <option>1.3</option>
                                <option>1.7</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>4.5</option>
                                <option>5</option>
                                <option>6</option>
                                <option>9</option>
                                <option>14</option>
                                <option>19</option>
                                <option>48</option>
                            </select>
                        @*<input type="text" class="form-control" name="" placeholder="Gas Size" id="GasSize1" /></span>*@
                    </div>
                    <div id="Other">
                        <div class="form-group" style="">
                            <span><h4>Price</h4> <input type="text" class="form-control" name="" placeholder="Price" id="price1" readonly="readonly" /></span>
                        </div>
                        <div class="form-group" style="">
                            <span><h4>Quantity</h4> <input type="text" class="form-control" name="" placeholder="Quntity" id="qty1" /></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3" style="">
                    <div id="item2">
                        <div class="form-group" style="">
                            <span>
                                <h4>Gas Size2:</h4>
                                <select class="form-control" id="GasSize2">
                                    <option id="Select">Select Size</option>
                                    <option>1.3</option>
                                    <option>1.7</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>4.5</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>9</option>
                                    <option>14</option>
                                    <option>19</option>
                                    <option>48</option>
                                </select>
                        </div>
                    </div>
                        <div id="Other2">
                            <div class="form-group" style="">
                                <span><h4>Price2</h4> <input type="text" class="form-control" name="" placeholder="Price" id="price2" readonly="readonly" /></span>
                            </div>
                            <div class="form-group" style="">
                                <span><h4>Quantity</h4> <input type="text" class="form-control" name="" placeholder="Quntity" id="qty2" /></span>
                            </div>
                        </div>
                   
                </div>
                <div class="col-md-3">

                </div>

                @*Item 3 - to be added at later stage when everything else works the way its should*@
                @*<div class="col-md-3" style="">
                <div id="item2">
                    <div class="form-group" style="">
                        <span><h4>Gas Size2:</h4> <input type="text" class="form-control" required name="InvId" placeholder="Gas Size" id="GasSize2" /></span>
                    </div>
                    <div class="form-group" style="">
                        <span><h4>Price2</h4> <input type="text" class="form-control" required name="" placeholder="Price" id="price2" readonly="readonly" /></span>
                    </div>
                    <div class="form-group" style="">
                        <span><h4>Quntity</h4> <input type="text" class="form-control" required name="" placeholder="Quntity" id="qty2" /></span>
                    </div>
                </div>
            </div>*@
                @* ADDITIONAL INFO: PANEL *@
               <div class="col-md-3" style="" id="Add_Info">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>Additional Information</h4>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-10" style="">
                                <div class="checkbox">
                                    @Html.DisplayNameFor(model => model.New)
                                    @Html.EditorFor(model => model.New)
                                </div>
                            </div>
                            <div class="form-group" id="SaletType">
                                <div class="col-md-10" style="">
                                    @Html.DisplayNameFor(model => model.SaleType)
                                    @Html.EnumDropDownListFor(model => model.SaleType, htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10" style="" id="Del">
                                    <div class="checkbox">
                                        @Html.DisplayNameFor(model => model.Delivery)
                                        @Html.EditorFor(model => model.Delivery)
                                    </div>
                                </div>
                                <div  id="Service">
                                    <div class="col-md-10" style="">
                                        @Html.DisplayNameFor(model => model.ServiceType)
                                        @Html.EnumDropDownListFor(model => model.ServiceType, htmlAttributes: new { @class = "form-control" })
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
  
            @*APPLIANCES DETAILS*@
            <div class="row">
                <div class="col-md-10" style="">
                    <div class="checkbox">
                        <input type="checkbox" id="Appliances" />
                        <label for="Appliances"> Add Appliance</label>
                    </div>
                </div>
                <div class="row" id="ApplianceRow">
                    <div class="col-md-3" style="">
                        <div class="form-group" style="">
                            <span><h4>Appliance Code:</h4> <input type="text" class="form-control" name="" placeholder="Gas Appliance Code" id="AppCode1" /></span>
                        </div>
                    </div>
                    <div class="col-md-3" style="">
                        <div class="form-group" style="">
                            <span><h4>Product Name</h4> <input type="text" class="form-control" name="" placeholder="Product" id="Prod_Name1" readonly="readonly" /></span>
                        </div>
                    </div>
                    <div class="col-md-3" style="">
                        <div class="form-group" style="">
                            <span><h4>Price</h4> <input type="text" class="form-control" name="" placeholder="Price" id="AppPrice1" readonly="readonly" /></span>
                        </div>
                    </div>
                    <div class="col-md-3" style="">
                        <div class="form-group" style="">
                            <span><h4>Quantity</h4> <input type="text" class="form-control" name="" placeholder="Quntity" id="AppQty1" /></span>
                        </div>
                    </div>
                    
                </div>
            </div>
            <hr />

            @*DEPOSIT*@
            <div class="row">
                <div class="col-md-10" style="">
                    <div class="checkbox">
                        <input type="checkbox" id="Deposit_Check" />
                        <label for="Appliances"> Add Deposit</label>
                    </div>
                </div>
                    <div class="row" id="Dep_Check">
                        <div class="col-md-3" style="">
                            <div class="form-group" style="">
                                <span><h4>Deposit Code:</h4> <input type="text" class="form-control" name="" placeholder="Deposit Code" id="DepCode" /></span>
                            </div>
                        </div>
                        <div class="col-md-3" style="">
                            <div class="form-group" style="">
                                <span><h4>Deposit</h4> <input type="text" class="form-control" name="" placeholder="Deposit" id="DepNames" readonly="readonly" /></span>
                            </div>
                        </div>
                        <div class="col-md-3" style="">
                            <div class="form-group" style="">
                                <span><h4>Deposit Fee</h4> <input type="text" class="form-control" name="" placeholder="Deposit Fee" id="DepFee" readonly="readonly" /></span>
                            </div>
                        </div>
                        <div class="col-md-3" style="">
                            <div class="form-group" style="">
                                <span><h4>Quantity</h4> <input type="text" class="form-control" name="" placeholder="No.of Deposit" id="DepQuantity" /></span>
                            </div>
                        </div>
                    </div>
                    
            </div>
            <hr />

                    @*NEW ROW: AMOUNT AND SALE OVERVIEW*@
                    <div class="row" id="Overview">
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4>Amount Details</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group" style="">
                                        <span><h4>Cash Received</h4> <input type="text" class="form-control" required name="" placeholder="Amount" id="cash" /></span>
                                    </div>
                                    <br />
                                    <h4 id="total"></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4>Sale Overview</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h5><strong>Item Code</strong></h5>
                                        </div>
                                        <div class="col-md-2">
                                            <h5><strong>Size(Kg)</strong></h5>
                                        </div>
                                        <div class="col-md-2">
                                            <h5><strong>Unit Price(R)</strong></h5>
                                        </div>
                                        <div class="col-md-2">
                                            <h5><strong>Qty</strong></h5>
                                        </div>
                                        <div class="col-md-2">
                                            <h5><strong>Price(Incl)</strong></h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h5 id="code1"></h5>
                                            <h5 id="code2"></h5>
                                            <h5 id="code3"></h5>
                                            <h5 id="code4"></h5>
                                        </div>
                                        <div class="col-md-2">
                                            <h5 id="size1"></h5>
                                            <h5 id="size2"></h5>
                                            <h5 id="size3"></h5>
                                            <h5 id="size4"></h5>
                                        </div>
                                        <div class="col-md-2">
                                            <h5 id="unit1"></h5>
                                            <h5 id="unit2"></h5>
                                            <h5 id="unit3"></h5>
                                            <h5 id="unit4"></h5>
                                        </div>
                                        <div class="col-md-2">
                                            <h5 id="qy1"></h5>
                                            <h5 id="qy2"></h5>
                                            <h5 id="qy3"></h5>
                                            <h5 id="qy4"></h5>
                                        </div>
                                        <div class="col-md-2">
                                            <h5 id="tot1"></h5>
                                            <h5 id="tot2"></h5>
                                            <h5 id="tot3"></h5>
                                            <h5 id="tot4"></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="EFT_Message">

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10" style="padding-left:0px">
                            <button type="button" class="btn btn-secondary" id="submit">Complete Sale</button>
                            <button type="button" class="btn btn-secondary" id="empties">Capture Empty</button>
                        </div>
                        
                    </div>
                </div>
            </div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="Modal_Title">Capture Received Emptie(s)</h3>
            </div>
            <div class="modal-body" id="body">
                <div class="row">
                    <div class="col-md-4" id="section1"> 
                        <h4>Empty Size:</h4>
                        <select class="form-control" id="EmptySize1">
                            <option id="Select">Select Empty Size</option>
                            <option>9</option>
                            <option>14</option>
                            <option>19</option>
                            <option>48</option>
                        </select>
                        <h4>Quantity</h4>
                        <input type="text" id="Empty_Qty" class="form-control"/>
                    </div>
                    <div class="col-md-4" id="EmptiesDue">
                        <br/>
                        <br/>
                        <p id="Empties_text"></p>
                    </div>
                </div>
               
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" id="close">Close</button>
                    <button type="button" class="btn btn-primary btn-sm" id="Empties">Save Empties</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
                <script type="text/javascript">
                    window.onload = function () {
                        $("#item2").hide();
                        $("#ApplianceRow").hide();
                        $("#Dep_Check").hide();
                        $("#Del").hide();
                        $("#Service").hide();
                        $("#Add_Info").hide();
                        $("#Other").hide();
                        $("#Other2").hide();
                        $("#Overview").hide();
                        $("#Complete").hide();
                        $("#submit").hide();
                        $("#empties").hide();
                    }


                    $(document).ready(function () {
                        $("#Deposit_Check").change(function () {
                            var isChecked = $("#Deposit_Check").is(":checked");
                            var GasSize1 = $("#GasSize1").val();
                            if (isChecked === true) {
                                $("#Dep_Check").fadeIn(1000);
                            }
                            else {
                                $("#Dep_Check").fadeOut(1000);
                            }
                        })
                    })

                    $(document).ready(function () {
                        $("#Appliances").change(function () {
                            var isChecked = $("#Appliances").is(":checked");

                            if (isChecked === true) {
                                $("#ApplianceRow").fadeIn(1000);
                            }
                            else {
                                $("#ApplianceRow").fadeOut(1000);
                            }
                        })
                    })


                    $(document).ready(function () {
                        $("#GasSize1").change(function () {
                            $("#price1").html('');
                            $("#qty1").html('');
                            var key = event.key || event.keyCode;

                            if (key === 'Backspace') {
                                $("#Service").hide();
                                $("#Del").hide();
                                $("#price1").html("");
                                $("#qty1").html("");
                                $("#total").html("");
                            }
                            var value = $(this).val();
                            if (value == 14 || value == 19 || value == 48) {
                                $("#Del").show();
                                //$("#empties").show();
                                
                            }
                            else if (value == 9) {
                                $("#Service").fadeIn(1000);
                                $("#Del").fadeIn(1000);
                                //$("#empties").show();
                            }
                            else {
                                $("#submit").hide();
                            }
                            $("#Other").fadeIn(1000);
                            $.get('/Sale/getGAS?Size=' + value + '', null, function (data) {
                                console.log(data);
                                var Price = document.getElementById('price1');
                                Price.value = data.Cylinder_Price;
                            })
                        })
                    });

                    $(document).ready(function () {
                        $("#GasSize2").change(function () {
                            //If gassize1 is not equals to Exchanges, and if Gassize2 is key pressed Backspace than hide
                            $("#price2").html('');
                            $("#qty2").html('');
                            var key = event.key || event.keyCode;
                            var GasSize1 = $("#GasSize1").val();

                            if ((GasSize1 == 14 || GasSize1 == 19 || GasSize1 == 48) && (key === "Backspace")) {
                                //document.getElementById("ServiceType").style.visibility = "visible";
                                $("#Delivery").show();
                                $("#price2").html("");
                                $("#qty2").html("");
                                $("#total").html("");
                            }
                            else if (GasSize1 == 14 && key === "Backspace") {
                                $("#Service").show();
                                $("#Del").show();
                                
                            }

                            else {
                                $("#ServiceType").hide();
                            }

                            var value = $(this).val();
                            if (value == 14 || value == 19 || value == 48) {
                                $("#Delivery").show();
                                //$("#empties").show();
                            }
                            else if (value == 9) {
                                $("#Service").show();
                                $("#Del").show();
                                
                            }
                            $("#Other2").fadeIn(1000);
                            $.get('/Sale/getGAS?Size=' + value + '', null, function (data) {
                                console.clear();
                                console.log(data);
                                var Price2 = document.getElementById('price2');
                                Price2.value = data.Cylinder_Price;
                            })

                        })
                    })

                    $(document).ready(function () {
                        $("#qty1").change(function () {
                            $("#Add_Info").fadeIn(1000);
                            $("#Overview").fadeIn(1000);
                            
                            $("#empties").hide();
                            $("#submit").hide();
                            var value = $("#GasSize1").val();
                            if (value == 9 || value == 14 || value == 19 || value == 48) {
                                //$("#Complete").fadeIn(1000);
                                $("#empties").fadeIn(1000);

                            }
                            else {
                                //$("#Complete").fadeIn(1000);
                                $("#submit").fadeIn(1000);
                            }
                            $.get('/Sale/getGAS?Size=' + value + '', null, function (data) {

                                $("#code1").html("");
                                $("#size1").html("");
                                $("#unit1").html("");
                                $("#qy1").html("");
                                $("#tot1").html("");

                                $("#code1").append(data.Size_Code);
                                $("#size1").append(value);
                                $("#unit1").append("R", data.Cylinder_Price - (data.Cylinder_Price * 0.15));
                                $("#qy1").append($("#qty1").val());

                                var ServiceType = $("#ServiceType").val();
                                if (ServiceType == 0) {
                                    $("#tot1").append("R", data.Cylinder_Price * $("#qty1").val())
                                }

                                else if(ServiceType == 1) {
                                    $("#tot1").append("R", data.Cylinder_Price * $("#qty1").val() + 20)
                                }
                               
                                $("#item2").fadeIn(1000);
     
                                //  $("#total").append(tot);
                                //  var Tot1 = ((data.Cylinder_Price * $("#qty1").val()));

                            })
                        })
                    })

                    $(document).ready(function () {
                        $("#qty2").change(function () {
                            var value = $("#GasSize2").val();
                            $("#empties").hide();
                            $("#submit").hide();
                            $.get('/Sale/getGAS?Size=' + value + '', null, function (data) {

                                $("#code2").html("");
                                $("#size2").html("");
                                $("#unit2").html("");
                                $("#qy2").html("");
                                $("#tot2").html("");

                                $("#code2").append(data.Size_Code);
                                $("#size2").append(value);
                                $("#unit2").append("R", data.Cylinder_Price - (data.Cylinder_Price * 0.15));
                                $("#qy2").append($("#qty2").val());
                                $("#tot2").append("R", data.Cylinder_Price * $("#qty2").val())

                                var tot = "R" + data.Cylinder_Price * $("#qty2").val()
                                var Tot2 = ((data.Cylinder_Price * $("#qty2").val()));

                                var value1 = $("#GasSize1").val();
                                var value2 = $("#GasSize2").val();
                                if (value1 == 9 || value1 == 14 || value1 == 19 || value1 == 48) {
                                    $("#empties").fadeIn(1000);
                                }
                                else if (value2 == 9 || value2 == 14 || value2 == 19 || value2 == 48) {
                                    $("#empties").fadeIn(1000);
                                }
                                else {
                                    $("#submit").fadeIn(1000);
                                }

                            })
                        })
                    })

                    $(document).ready(function () {
                        $("#AppCode1").keyup(function () {
                            var value = $(this).val();
                            $.get('/Sale/getProduct?Code=' + value + '', null, function (data) {
                                console.clear();
                                console.log(data);

                                var Name = document.getElementById('Prod_Name1');
                                Name.value = data.ProductName;

                                var Price = document.getElementById('AppPrice1');
                                Price.value = data.Product_Price;
                            })
                        })
                    })


                    $(document).ready(function () {
                        $("#DepCode").keyup(function () {
                            var value = $(this).val();
                            $.get('/Sale/getProduct?Code=' + value + '', null, function (data) {
                                console.clear();
                                console.log(data);

                                var Name = document.getElementById('DepNames');
                                Name.value = data.Deposit;

                                var Price = document.getElementById('DepFee');
                                Price.value = data.DepositFee;


                            })
                        })
                    })


                    $(document).ready(function () {
                        $("#AppQty1").keyup(function () {
                            var value = $("#AppCode1").val();
                            $.get('/Sale/getProduct?Code=' + value + '', null, function (data) {

                                $("#code3").html("");
                                $("#size3").html("");
                                $("#unit3").html("");
                                $("#qy3").html("");
                                $("#tot3").html("");

                                $("#code3").append(data.Size_Code);
                                $("#size3").append(data.ProductName);
                                $("#unit3").append("R", data.Product_Price - (data.Product_Price * 0.15));
                                $("#qy3").append($("#AppQty1").val());
                                $("#tot3").append("R", data.Product_Price * $("#AppQty1").val())
                            });
                        });
                    });

                    $(document).ready(function () {
                        $("#DepQuantity").keyup(function () {
                            var value = $("#DepCode").val();
                            $.get('/Sale/getProduct?Code=' + value + '', null, function (data) {

                                $("#code4").html("");
                                $("#size4").html("");
                                $("#unit4").html("");
                                $("#qy4").html("");
                                $("#tot4").html("");

                                $("#code4").append(data.Size_Code);
                                $("#size4").append(data.Deposit);
                                $("#unit4").append("R", data.DepositFee - (data.DepositFee * 0.15));
                                $("#qy4").append($("#DepQuantity").val());
                                $("#tot4").append("R", data.DepositFee * $("#DepQuantity").val())

                                //var Tot4 = ((data.DepositFee * $("#qy4").val()));

                            });
                        });
                    });

                    $("#cash").click(function () {
                        $("#total").html("");

                        var price1 = $("#price1").val();
                        var price2 = $("#price2").val();
                        var qty1 = $("#qty1").val();
                        var qty2 = $("#qty2").val();
                        var prod_price1 = $("#AppPrice1").val();
                        var prod_qty1 = $("#AppQty1").val();
                        var DeepFee = $("#DepFee").val();
                        var DeepQty = $("#DepQuantity").val();
                        var ServiceType = $("#ServiceType").val();
                        console.log(ServiceType);

                        if (ServiceType == 1) {
                            var finalTot = (price1 * qty1) + (price2 * qty2) + (prod_price1 * prod_qty1) + (DeepFee * DeepQty) + 20;
                            $("#total").append("<h4><strong>" + "Total Due: R", finalTot + "</strong></h4>");

                        }
                            
                        else if(ServiceType == 0) {
                            var finalTot = (price1 * qty1) + (price2 * qty2) + (prod_price1 * prod_qty1) + (DeepFee * DeepQty);
                            $("#total").append("<h4><strong>" + "Total Due: R", finalTot + "</strong></h4>");
                        }
                    })

                    $(document).ready(function () {
                        $("#SaleType").change(function () {
                            document.getElementById('cash').readOnly = false;
                            $("#EFT_Message").html("");
                            console.clear();
                            var value = $("#SaleType").val();
                            console.log(value);
                            if (value == 1) {
                                document.getElementById('cash').readOnly = true;
                                $("#EFT_Message").append("<h4><strong>" + "Complete Payment on EFTPOS Machine" + "</strong></h4>")
                            }
                        })
                    })

                    $(document).ready(function () {                     
                        $("#ServiceType").change(function () {
                            console.clear();
                            var value = $("#ServiceType").val();
                           
                        })
                    })

                    $(document).ready(function () {
                        $("#Delivery").change(function () {
                            var isChecked = $("#Delivery").is(":checked");

                            if (isChecked == true) {
                                document.getElementById('cash').readOnly = true;
                            }
                            else if (isChecked == false) {
                                document.getElementById('cash').readOnly = false;
                            }
                        })
                    })

                    $(document).ready(function () {
                        $("#empties").click(function () {
                            $("#Empties_text").html('');
                           
                            $('#myModal').modal({ show: true });
                            //check items (1 and 2) -> 
                            var item1_value = $("#GasSize1").val();
                            var item2_value = $("#GasSize2").val();
                            var Qty1_Empties = parseInt($("#qty1").val());
                            var Qty2_Empties = parseInt($("#qty2").val());
                            var Dep_quantity = 0;
                            if ($("#DepQuantity").val() != '') {
                                Dep_quantity = parseInt($("#DepQuantity").val());
                            }
                            var tot_quantity = 0;

                            //if both have exchanges
                            if (item1_value == 9 || item1_value == 14 || item1_value == 19 || item1_value == 48 ) {
                                if (item2_value == 9 || item2_value == 14 || item2_value == 19 || item2_value == 48) {
                                    tot_quantity = Qty1_Empties + Qty2_Empties - Dep_quantity;
                                }
                                else {
                                    tot_quantity = Qty1_Empties - Dep_quantity;
                                }
                            }
                            else if (item2_value == 9 || item2_value == 14 || item2_value == 19 || item2_value == 48) {
                                tot_quantity = Qty2_Empties - Dep_quantity;
                            }
                            if (tot_quantity == 0) {
                                $("#Empties_text").append("<p>" + "Outstanding Empties: " + "<strong>" + tot_quantity + "</strong>" + "</p>")
                                $("#section1").hide();
                            }
                            else {
                                $("#section1").show();
                                $("#Empties_text").append("<p>" + "Outstanding Empties: " + "<strong>" + tot_quantity + "</strong>" + "</p>")
                            }
                        });
                    });

                    $(document).ready(function () {
                        $("#EmptySize1").change(function () {
                            var value = $(this).val();
                            console.log(value);
                        });
                    });

                    $(document).ready(function () {
                        $("#submit").click(function () {
                            var sale = {};

                            var Item1 = $("#GasSize1").val();
                            var Item2 = $("#GasSize2").val();
                            var price1 = $("#price1").val();
                            var price2 = $("#price2").val();
                            var qty1 = $("#qty1").val();
                            var qty2 = $("#qty2").val();
                            var product1 = $("#Prod_Name1").val();
                            var prod_price1 = $("#AppPrice1").val();
                            var prod_qty1 = $("#AppQty1").val();
                            var cash = $("#cash").val();
                            var DeepItem = $("#DepNames").val();
                            var DeepFee = $("#DepFee").val();
                            var DeepQty = $("#DepQuantity").val();
                            var new48 = $("#New").is(":checked");
                            var delivery = $("#Delivery").is(":checked");
                            var SaleType = $("#SaleType").val();
                            var ServiceType = $("#ServiceType").val();
                            console.log("Service Type", ServiceType);
                          
                            console.log(new48);

                            var items;
                            sale.item1 = Item1;
                            sale.item2 = Item2;
                            sale.price1 = price1;
                            sale.price2 = price2;
                            sale.Qty1 = qty1;
                            sale.Qty2 = qty2;
                            sale.Product_Item1 = product1;
                            sale.Product_Price1 = prod_price1;
                            sale.Product_Qty1 = prod_qty1;
                            sale.cashReceived = cash;
                            sale.DepositItem = DeepItem;
                            sale.DepositPrice = DeepFee;
                            sale.DepositQuantity = DeepQty;
                            sale.New = new48;
                            sale.ServiceType = ServiceType;
                            sale.SaleType = SaleType;
                            sale.Delivery = delivery;
                            //items = parseFloat(qty1) + parseFloat(qty2) + parseFloat(prod_qty1) + parseFloat(prod_qty1);
                            //console.log("Sale Items: ", items);
                            sale.TotalItems = items;
                            // console.log("New 48 checked:", new48);

                            $.post('/Sale/RecordSale/', sale, function () {
                                alert('New Sale Added');
             
                                $.get('/Sale/getLatestSale/' + '', null, function (data) {

                                    var newS = data.Sale_Id;
                                    location.href = "/Sale/GenerateInvoice/" + newS;
                                    
                                })
                            })
                        })
                    })
                </script>
            }
