@model ZumaneGas_OperationalSystem.Models.Sale
@{
    ViewBag.Title = "NewSale";
}

<h5><strong>Sale / New Sale</strong></h5>
<br/>
    <div class="row">
        <div class="col-md-3">
            <a href="#" class="list-group-item" style="font-size:large"><span class="glyphicon glyphicon-th-list"></span>  Menu</a>

            <a href="" class="list-group-item" style="font-size:large"><strong>Sale</strong></a>
            <a href="@Url.Action("NewSale","Sale")" class="list-group-item active"><span class="glyphicon glyphicon-plus"></span> New Sale</a>
            <a href="@Url.Action("Index","Home")" class="list-group-item"><span class="glyphicon glyphicon-eye-open"></span> View Today's Sales</a>
            <a href="@Url.Action("S_Sale","Sale")" class="list-group-item"><span class="glyphicon glyphicon-search"></span>  Search Sale</a>

            <a href="#" class="list-group-item" style="font-size:large"><strong>Stock</strong></a>
            <a href="@Url.Action("ViewStock","Stock")" class="list-group-item"><span class="glyphicon glyphicon-plus"></span>  New Stock</a>
            <a href="@Url.Action("AvailableStock","Stock")" class="list-group-item"><span class="glyphicon glyphicon-eye-open"></span> View Stock Details</a>

            <a href="#" class="list-group-item" style="font-size:large"><strong>Invetory</strong></a>
            <a href="@Url.Action("Create","Inventories")" class="list-group-item"><span class="glyphicon glyphicon-plus"></span>  New Invetory</a>
            <a href="@Url.Action("Index","Inventories")" class="list-group-item"><span class="glyphicon glyphicon-eye-open"></span>  Show Invetories</a>

            <a href="#" class="list-group-item" style="font-size:large"><strong>Reports</strong> </a>
            <a href="@Url.Action("DailyReport","Report")" class="list-group-item"><span class="glyphicon glyphicon-eye-open"></span>  Daily Report</a>

            <a href="#" class="list-group-item" style="font-size:large"><strong>Empties</strong> </a>
            <a href="@Url.Action("Create","Inventories")" class="list-group-item"><span class="glyphicon glyphicon-plus"></span> Record Emptiess</a>
            <a href="@Url.Action("DailyReport","Report")" class="list-group-item"><span class="glyphicon glyphicon-eye-open"></span> Available Empties</a>
            <a href="#" class="list-group-item"><span></span> Logout</a>
        </div>
        <div class="col-md-9">
            <h4><strong>LPG GAS Details:</strong></h4>
            @*FIRST ROW: ITEM 1 DETAILS*@
            <div class="row">
                <div class="col-md-8" style="">
                    @*<form>
                        <small class="form-text text-muted">Enter Size</small>
                        <input type="text" id="GasSize1" class="form-control" placeholder="Gas Size" /> <span class="glyphicon glyphicon-search"></span> 
                    </form>*@
                    <form>
                        @*<span><input name="submit" class="glyphicon-search"  value="Search"></span>*@
                        <p>
                           <span> <input type="text" name="text" class="form-control" placeholder="Enter Gas Size!" id="GasSize1">
                            <button type="button" class="btn btn-default" id="Add_item">
                                <span class="glyphicon glyphicon-search"></span> Search
                            </button> </span>
                        </p>
                    </form> 
                   

                    @*<div class="form-group" style="">
                        <h4>Gas Size1:</h4> 
                            <select class="form-control" id="GasSize1">
                                <option id="Select">Select Size</option>
                                <option>1.3</option>
                                <option>1.7</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>4.5</option>
                                <option>5</option>
                                <option>6</option>
                                <option>9</option>
                                <option>14</option>
                                <option>19</option>
                                <option>48</option>
                            </select>
                        
                    </div>
                    <div id="Other">
                        <div class="form-group" style="">
                            <span><h4>Price</h4> <input type="text" class="form-control" name="" placeholder="Price" id="price1" readonly="readonly" /></span>
                        </div>
                        <div class="form-group" style="">
                            <span><h4>Quantity</h4> <input type="text" class="form-control" name="" placeholder="Quntity" id="qty1" /></span>
                        </div>
                    </div>*@
                </div>

                @*<div class="col-md-3" style="">*@
                    @*<div id="item2">
                        <div class="form-group" style="">
                                <h4>Gas Size2:</h4>
                                <select class="form-control" id="GasSize2">
                                    <option id="Select">Select Size</option>
                                    <option>1.3</option>
                                    <option>1.7</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>4.5</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>9</option>
                                    <option>14</option>
                                    <option>19</option>
                                    <option>48</option>
                                </select>
                        </div>
                    </div>
                        <div id="Other2">
                            <div class="form-group" style="">
                                <span><h4>Price2</h4> <input type="text" class="form-control" name="" placeholder="Price" id="price2" readonly="readonly" /></span>
                            </div>
                            <div class="form-group" style="">
                                <span><h4>Quantity</h4> <input type="text" class="form-control" name="" placeholder="Quntity" id="qty2" /></span>
                            </div>
                        </div>
                   
                </div>*@
                @*<div class="col-md-3">

                </div>*@

                @*Item 3 - to be added at later stage when everything else works the way its should*@
                @*<div class="col-md-3" style="">
                <div id="item2">
                    <div class="form-group" style="">
                        <span><h4>Gas Size2:</h4> <input type="text" class="form-control" required name="InvId" placeholder="Gas Size" id="GasSize2" /></span>
                    </div>
                    <div class="form-group" style="">
                        <span><h4>Price2</h4> <input type="text" class="form-control" required name="" placeholder="Price" id="price2" readonly="readonly" /></span>
                    </div>
                    <div class="form-group" style="">
                        <span><h4>Quntity</h4> <input type="text" class="form-control" required name="" placeholder="Quntity" id="qty2" /></span>
                    </div>
                </div>
            </div>*@
                @* ADDITIONAL INFO: PANEL *@
               <div class="col-md-3" style="" id="Add_Info">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>Additional Information</h4>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-10" style="">
                                <div class="checkbox">
                                    @Html.DisplayNameFor(model => model.New)
                                    @Html.EditorFor(model => model.New)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10" style="" id="Del">
                                    <div class="checkbox">
                                        @Html.DisplayNameFor(model => model.Delivery)
                                        @Html.EditorFor(model => model.Delivery)
                                    </div>
                                </div>
                                <div  id="Service">
                                    <div class="col-md-10" style="">
                                        @Html.DisplayNameFor(model => model.ServiceType)
                                        @Html.EnumDropDownListFor(model => model.ServiceType, htmlAttributes: new { @class = "form-control" })
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
  
            @*APPLIANCES DETAILS*@
            <div class="row">
                <div class="col-md-10" style="">
                    <div class="checkbox">
                        <input type="checkbox" id="Appliances" />
                        <label for="Appliances"> Add Appliance</label>
                    </div>
                </div>
                <div class="row" id="ApplianceRow">
                    <div class="col-md-3" style="">
                        <div class="form-group" style="">
                            <span><h4>Appliance Code:</h4> <input type="text" class="form-control" name="" placeholder="Gas Appliance Code" id="AppCode1" /></span>
                        </div>
                    </div>
                    <div class="col-md-3" style="">
                        <div class="form-group" style="">
                            <span><h4>Product Name</h4> <input type="text" class="form-control" name="" placeholder="Product" id="Prod_Name1" readonly="readonly" /></span>
                        </div>
                    </div>
                    <div class="col-md-3" style="">
                        <div class="form-group" style="">
                            <span><h4>Price</h4> <input type="text" class="form-control" name="" placeholder="Price" id="AppPrice1" readonly="readonly" /></span>
                        </div>
                    </div>
                    <div class="col-md-3" style="">
                        <div class="form-group" style="">
                            <span><h4>Quantity</h4> <input type="text" class="form-control" name="" placeholder="Quntity" id="AppQty1" /></span>
                        </div>
                    </div>
                    
                </div>
            </div>
            <hr />

            @*DEPOSIT*@
            <div class="row">
                <div class="col-md-10" style="">
                    <div class="checkbox">
                        <input type="checkbox" id="Deposit_Check" />
                        <label for="Appliances"> Add Deposit</label>
                    </div>
                </div>
                    <div class="row" id="Dep_Check">
                        <div class="col-md-3" style="">
                            <div class="form-group" style="">
                                <span><h4>Deposit Code:</h4> <input type="text" class="form-control" name="" placeholder="Deposit Code" id="DepCode" /></span>
                            </div>
                        </div>
                        <div class="col-md-3" style="">
                            <div class="form-group" style="">
                                <span><h4>Deposit</h4> <input type="text" class="form-control" name="" placeholder="Deposit" id="DepNames" readonly="readonly" /></span>
                            </div>
                        </div>
                        <div class="col-md-3" style="">
                            <div class="form-group" style="">
                                <span><h4>Deposit Fee</h4> <input type="text" class="form-control" name="" placeholder="Deposit Fee" id="DepFee" readonly="readonly" /></span>
                            </div>
                        </div>
                        <div class="col-md-3" style="">
                            <div class="form-group" style="">
                                <span><h4>Quantity</h4> <input type="text" class="form-control" name="" placeholder="No.of Deposit" id="DepQuantity" /></span>
                            </div>
                        </div>
                    </div>
                    
            </div>
            <hr />

                    @*NEW ROW: AMOUNT AND SALE OVERVIEW*@
                    <div class="row" id="Overview">
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4>Payment Section </h4>
                                </div>
                                <br/>
                                <div class="form-group" id="SaletType">
                                    <div class="col-md-10" style="">
                                        @Html.DisplayNameFor(model => model.SaleType)
                                        @Html.EnumDropDownListFor(model => model.SaleType, htmlAttributes: new { @class = "form-control" })
                                    </div>
                                </div>
                                <br/>
                                <br />
                                <div class="panel-body">
                                    <div class="form-group" style="">
                                        <span><h5>Cash Received</h5> <input type="text" class="form-control" required name="" placeholder="Amount" id="cash" /></span>
                                    </div>
                                    <br />
                                   
                                    <h4 id="total"></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4>Sale Overview</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h5><strong>Item Code</strong></h5>
                                        </div>
                                        <div class="col-md-2">
                                            <h5><strong>Size(Kg)</strong></h5>
                                        </div>
                                        <div class="col-md-2">
                                            <h5><strong>Unit Price(R)</strong></h5>
                                        </div>
                                        <div class="col-md-2">
                                            <h5><strong>Qty</strong></h5>
                                        </div>
                                        <div class="col-md-2">
                                            <h5><strong>Price(Incl)</strong></h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h5 id="arrayItems_Codes"></h5>
                                            <h5 id="code2"></h5>
                                            <h5 id="code3"></h5>
                                            <h5 id="code4"></h5>
                                        </div>
                                        <div class="col-md-2">
                                            <h5 id="ArrayItems_Size"></h5>
                                            <h5 id="size2"></h5>
                                            <h5 id="size3"></h5>
                                            <h5 id="size4"></h5>
                                        </div>
                                        <div class="col-md-2">
                                            <h5 id="ArrayItems_Unit"></h5>
                                            <h5 id="unit2"></h5>
                                            <h5 id="unit3"></h5>
                                            <h5 id="unit4"></h5>
                                        </div>
                                        <div class="col-md-2">
                                            <h5 id="ArrayItems_Qty"></h5>
                                            <h5 id="qy2"></h5>
                                            <h5 id="qy3"></h5>
                                            <h5 id="qy4"></h5>
                                        </div>
                                        <div class="col-md-2">
                                            <h5 id="ArrayItems_Total"></h5>
                                            <h5 id="tot2"></h5>
                                            <h5 id="tot3"></h5>
                                            <h5 id="tot4"></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="EFT_Message">

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10" style="padding-left:0px">
                            <button type="button" class="btn btn-secondary" id="submit">Complete Sale</button>
                            <button type="button" class="btn btn-secondary" id="empties">Capture Empty</button>
                        </div>
                        
                    </div>
                </div>
            </div>
<!-- Modal -  Empties-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="Modal_Title">Capture Received Emptie(s)</h3>
            </div>
            <div class="modal-body" id="body">
                <div class="row">
                    <div class="col-md-4" id="section1"> 
                        <h4>Empty Size:</h4>
                        <select class="form-control" id="EmptySize1">
                            <option id="Select">Select Empty Size</option>
                            <option>9</option>
                            <option>14</option>
                            <option>19</option>
                            <option>48</option>
                        </select>
                        <h4>Quantity</h4>
                        <input type="text" id="Empty_Qty" class="form-control"/>
                    </div>
                    <div class="col-md-4" id="EmptiesDue">
                        <br/>
                        <br/>
                        <p id="Empties_text"></p>
                    </div>
                </div>
               
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" id="close">Close</button>
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" id="add">Add Empty</button>
                    <button type="button" class="btn btn-primary btn-sm" id="submit">Complete Sale</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -  Items -->
<div class="modal fade" id="myModal_Items" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="Modal_Title">Capture Sale Item</h3>
            </div>
            <div class="modal-body" id="body">
                <div class="row" id="items">
                    <div class="col-md-9" style="padding-left: 10px;">
                        <h5 style="font-weight:bold">Order Items:</h5>
                        <div class="row">
                            <div class="col-md-3">
                                <p style="font-size:small"><strong>Size (kg)</strong></p>
                            </div>
                            <div class="col-md-3">
                                <p style="font-size:small"><strong>Unit Price</strong></p>
                            </div>
                            <div class="col-md-3">
                                <p style="font-size:small"><strong>S Price</strong></p>
                            </div>
                            <div class="col-md-3">
                                <p style="font-size:small"><strong>Qty</strong></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <p style="font-size:small" id="SizeWording"></p>
                            </div>
                            <div class="col-md-3">
                                <p style="font-size:small" id="UPWording"></p>
                            </div>
                            <div class="col-md-3">
                                <p style="font-size:small" id="TotalWording"></p>
                            </div>
                            <div class="col-md-3">
                                <input type="text" name="text" class="form-control" placeholder="" id="qty1">
                            </div>
                        </div>
                    </div>
                </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" id="close">Close</button>
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" id="add_item_modal">Add Item</button>
                    @*<button type="button" class="btn btn-primary btn-sm" id="submit">Complete Sale</button>*@
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
                <script type="text/javascript">
                    $(document).ready(function () {
                    
                        // Exchanges and Refills arrays
                        var size = [];
                        var price = [];
                        var quantity = [];
                        var itemCode = [];

                        // Empties arrays
                        var array_items = [];
                        var array_qty = [];


                        var product_Name = [];
                        var product_price = [];
                        var product_quantity = [];

                        var runOnce = 0;
                        var runMultiple = 1;

                        
                         
                        window.onload = function () {
                            $("#item2").hide();
                            $("#ApplianceRow").hide();
                            $("#Dep_Check").hide();
                            $("#Del").hide();
                            $("#Service").hide();
                            $("#Add_Info").hide();
                            $("#Other").hide();
                            $("#Other2").hide();
                            $("#Overview").hide();
                            $("#Complete").hide();
                            //$("#submit").hide();
                            $("#empties").hide();
                            $("#submit").hide();
                        };


                    $("#Deposit_Check").change(function () {
                        var isChecked = $("#Deposit_Check").is(":checked");
                        var GasSize1 = $("#GasSize1").val();
                        if (isChecked === true) {
                            $("#Dep_Check").fadeIn(1000);
                        }
                        else {
                            $("#Dep_Check").fadeOut(1000);
                        }
                    });
                    
                    $("#Appliances").change(function () {
                        var isChecked = $("#Appliances").is(":checked");

                        if (isChecked === true) {
                            $("#ApplianceRow").fadeIn(1000);
                        }
                        else {
                            $("#ApplianceRow").fadeOut(1000);
                        }
                    });
                    
                    $("#Add_item").click(function () {
                        $("#SizeWording").html('');
                        $("#TotalWording").html('');
                        $("#UPWording").html('');
                        var key = event.key || event.keyCode;

                        if (key === 'Backspace') {
                            $("#Service").hide();
                            $("#Del").hide();
                            $("#price1").html("");
                            $("#qty1").html("");
                            $("#total").html("");
                        }
                        var value = $("#GasSize1").val();
                        if (value == 14 || value == 19 || value == 48) {
                            $("#Del").show();
                            //$("#empties").show();
                        }
                        else if (value == 9) {
                            $("#Service").fadeIn(1000);
                            $("#Del").fadeIn(1000);
                            //$("#empties").show();
                        }
                        else {
                            $("#submit").hide();
                        }
                        $("#Other").fadeIn(1000);

                        // Populating modal view with gas details 
                        $.get('/Sale/getGAS?Size=' + value + '', null, function (data) {
                            console.log(data);

                            $("#SizeWording").append(value, " KG");
                            $("#UPWording").append("R", data.Cylinder_Price - (data.Cylinder_Price * 0.15));
                            $("#TotalWording").append("R", data.Cylinder_Price)

                            //var Price = document.getElementById('price1');
                            //Price.value = data.Cylinder_Price;
                        })
                    });

 
                    $("#add_item_modal").click(function () {
                        add_item();
                        SaleOverview();
                        $("#qty1").val('')
                        $("#GasSize1").val('')
                        //getSaleTotal();
                    });

                    function add_product() {
                        //add to arrays
                        //var product_Name = [];
                        //var product_price = [];
                        //var product_quantity = [];


                    }
                    
                    function add_item() {
                        console.clear();
                        var value = $("#GasSize1").val();
                        var qty = $("#qty1").val();
                        
                        //working perfectly 
                        $.get('/Sale/getGAS?Size=' + value + '', null, function (data) {
                            $("#Add_Info").fadeIn(1000);
                            $("#Overview").fadeIn(1000);
                            var currSize = value;
  
                                if (size.length == 0) {
                                    size.push(currSize);
                                    price.push(data.Cylinder_Price * parseInt(qty))
                                    quantity.push(parseInt(qty));
                                    itemCode.push(data.Size_Code);
                                    alert('Condition 1');

                                }
                                    //2. length > 0
                                else if (!size.includes(currSize)) {
                                    size.push(currSize);
                                    price.push(data.Cylinder_Price * parseInt(qty))
                                    quantity.push(parseInt(qty));
                                    itemCode.push(data.Size_Code);
                                    alert('Condition 2');

                                }
                                    //3. Update Array
                                else if (size.includes(currSize)) {
                                    for (var i in size) {
                                        if (size[i] === value) {
                                            quantity.splice(i, 1, parseInt(qty));
                                            price.splice(i, 1, data.Cylinder_Price * parseInt(qty));
                                            alert('Condition 3: Updated succesfully');
                                        }
                                    }
                                }

                            //buttons (complete and capture) -  working perfectly 
                                if (size.length > 0) {
                                    for (var i = 0; i < size.length; i++) {
                                        if (size.includes('9') || size.includes('14') || size.includes('19') || size.includes('48')) {
                                            $("#submit").hide();
                                            $("#empties").fadeIn(1000);

                                        }
                                        else {
                                            $("#empties").hide();
                                            $("#submit").fadeIn(1000);
                                        }
                                    }
                                }

                            SaleOverview();
                            console.log(size);
                            console.log(quantity);
                            console.log(price);
                            console.log('Size Length: ', size.length)
                        });

                       
                    }
                    
                    //$(document).ready(function () {
                    //    Add_item
                    //    $("#GasSize1").change(function () {
                    //        $("#price1").html('');
                    //        $("#qty1").html('');
                    //        var key = event.key || event.keyCode;
                    //        if (key === 'Backspace') {
                    //            $("#Service").hide();
                    //            $("#Del").hide();
                    //            $("#price1").html("");
                    //            $("#qty1").html("");
                    //            $("#total").html("");
                    //        }
                    //        var value = $(this).val();
                    //        if (value == 14 || value == 19 || value == 48) {
                    //            $("#Del").show();
                    //            //$("#empties").show();
                    //        }
                    //        else if (value == 9) {
                    //            $("#Service").fadeIn(1000);
                    //            $("#Del").fadeIn(1000);
                    //            //$("#empties").show();
                    //        }
                    //        else {
                    //            $("#submit").hide();
                    //        }
                    //        $("#Other").fadeIn(1000);
                    //        $.get('/Sale/getGAS?Size=' + value + '', null, function (data) {
                    //            console.log(data);
                    //            var Price = document.getElementById('price1');
                    //            Price.value = data.Cylinder_Price;
                    //        })
                    //    })
                        //});

                    //$(document).ready(function () {
                    //    $("#GasSize2").change(function () {
                    //        //If gassize1 is not equals to Exchanges, and if Gassize2 is key pressed Backspace than hide
                    //        $("#price2").html('');
                    //        $("#qty2").html('');
                    //        var key = event.key || event.keyCode;
                    //        var GasSize1 = $("#GasSize1").val();
                    //        if ((GasSize1 == 14 || GasSize1 == 19 || GasSize1 == 48) && (key === "Backspace")) {
                    //            //document.getElementById("ServiceType").style.visibility = "visible";
                    //            $("#Delivery").show();
                    //            $("#price2").html("");
                    //            $("#qty2").html("");
                    //            $("#total").html("");
                    //        }
                    //        else if (GasSize1 == 14 && key === "Backspace") {
                    //            $("#Service").show();
                    //            $("#Del").show();          
                    //        }
                    //        else {
                    //            $("#ServiceType").hide();
                    //        }
                    //        var value = $(this).val();
                    //        if (value == 14 || value == 19 || value == 48) {
                    //            $("#Delivery").show();
                    //            //$("#empties").show();
                    //        }
                    //        else if (value == 9) {
                    //            $("#Service").show();
                    //            $("#Del").show();          
                    //        }
                    //        $("#Other2").fadeIn(1000);
                    //        $.get('/Sale/getGAS?Size=' + value + '', null, function (data) {
                    //            console.clear();
                    //            console.log(data);
                    //            var Price2 = document.getElementById('price2');
                    //            Price2.value = data.Cylinder_Price;
                    //        })
                    //    })
                    //})

                     // changes / updates to screen components/text
                    //$(document).on("click", "#add_item_modal", function () {

                    //    var value = $("#GasSize1").val();
                    //    $.get('/Sale/getGAS?Size=' + value + '', null, function (data) {

                    //        //$("#code1").html("");
                    //        //$("#size1").html("");
                    //        //$("#unit1").html("");
                    //        //$("#qy1").html("");
                    //        //$("#tot1").html("");

                    //        //$("#code1").append(data.Size_Code);
                    //        //$("#size1").append(value);
                    //        //$("#unit1").append("R", data.Cylinder_Price - (data.Cylinder_Price * 0.15));
                    //        //$("#qy1").append($("#qty1").val());

                    //        //REFILLS (9KG)
                    //        var ServiceType = $("#ServiceType").val();
                    //        if (ServiceType == 0) {
                    //            $("#tot1").append("R", data.Cylinder_Price * $("#qty1").val())
                    //        }

                    //        else if (ServiceType == 1) {
                    //            $("#tot1").append("R", data.Cylinder_Price * $("#qty1").val() + 20)
                    //        }

                    //        $("#item2").fadeIn(1000);

                    //        //  $("#total").append(tot);
                    //        //  var Tot1 = ((data.Cylinder_Price * $("#qty1").val()));

                    //    })

                    //    $("#qty1").val('');
                    //    $("#GasSize1").val('');
                    //});
                    var currPrice = 0; 
                    function SaleOverview() {

                        // Write to sale overview panel 
                        // Clear current text 
                        // Insert new / updated 
                        $("#arrayItems_Codes").html('');
                        $("#ArrayItems_Unit").html('');
                        $("#ArrayItems_Qty").html('');
                        $("#ArrayItems_Total").html('');
                        $("#ArrayItems_Size").html('');

                        //iterate through arrays 
                        if (size.length > 0) {
                            //for (var i = 0; i < size.length; i++) {
                            //    $("#ArrayItems_Unit").append('R', price[i] - (price[i] * 0.15), '<br>')
                            //    $("#ArrayItems_Total").append(price[i], '<br>')
                            //}
                            for (var i in itemCode) {
                                ///$("#arrayItems_Codes").html("");
                                $("#arrayItems_Codes").append(itemCode[i], '<br>')
                               
                            }
                            for (var i in size) {
                              //  $("#ArrayItems_Size").html('');
                                $("#ArrayItems_Size").append(size[i], ' kg', '<br>')
                            }
                            for (var i in price) {
                               // $("#ArrayItems_Unit").html('');
                                $("#ArrayItems_Unit").append('R', price[i] - (price[i] * 0.15), '<br>')

                               // $("#ArrayItems_Total").html('');
                                $("#ArrayItems_Total").append('R', price[i], '<br>')
                                currPrice += price[i];
                                
                            }
                            for (var i in quantity) {
                             //   $("#ArrayItems_Qty").html('');
                                $("#ArrayItems_Qty").append(quantity[i], '<br>')

                            }
                        }
                    };

                    //function getSaleTotal() {
                    //    $("#total").append('R', currPrice)
                    //};

                    //$(document).ready(function () {
                    //    $("#qty2").change(function () {
                    //        var value = $("#GasSize2").val();
                    //        $("#empties").hide();
                    //        $("#submit").hide();
                    //        $.get('/Sale/getGAS?Size=' + value + '', null, function (data) {
                    //            $("#code2").html("");
                    //            $("#size2").html("");
                    //            $("#unit2").html("");
                    //            $("#qy2").html("");
                    //            $("#tot2").html("");
                    //            $("#code2").append(data.Size_Code);
                    //            $("#size2").append(value);
                    //            $("#unit2").append("R", data.Cylinder_Price - (data.Cylinder_Price * 0.15));
                    //            $("#qy2").append($("#qty2").val());
                    //            $("#tot2").append("R", data.Cylinder_Price * $("#qty2").val())
                    //            var tot = "R" + data.Cylinder_Price * $("#qty2").val()
                    //            var Tot2 = ((data.Cylinder_Price * $("#qty2").val()));
                    //            var value1 = $("#GasSize1").val();
                    //            var value2 = $("#GasSize2").val();
                    //            if (value1 == 9 || value1 == 14 || value1 == 19 || value1 == 48) {
                    //                $("#empties").fadeIn(1000);
                    //            }
                    //            else if (value2 == 9 || value2 == 14 || value2 == 19 || value2 == 48) {
                    //                $("#empties").fadeIn(1000);
                    //            }
                    //            else {
                    //                $("#submit").fadeIn(1000);
                    //            }
                    //        })
                    //    })
                    //})
                    $("#AppCode1").keyup(function () {
                        var value = $(this).val();
                        $.get('/Sale/getProduct?Code=' + value + '', null, function (data) {
                            console.clear();
                            console.log(data);

                            var Name = document.getElementById('Prod_Name1');
                            Name.value = data.ProductName;

                            var Price = document.getElementById('AppPrice1');
                            Price.value = data.Product_Price;
                        })
                    });
                   
                        $("#DepCode").keyup(function () {
                            var value = $(this).val();
                            $.get('/Sale/getProduct?Code=' + value + '', null, function (data) {
                                console.clear();
                                console.log(data);

                                var Name = document.getElementById('DepNames');
                                Name.value = data.Deposit;

                                var Price = document.getElementById('DepFee');
                                Price.value = data.DepositFee;


                            });
                        });
                   

                        $("#AppQty1").keyup(function () {
                            var value = $("#AppCode1").val();
                            $.get('/Sale/getProduct?Code=' + value + '', null, function (data) {

                                $("#code3").html("");
                                $("#size3").html("");
                                $("#unit3").html("");
                                $("#qy3").html("");
                                $("#tot3").html("");

                                $("#code3").append(data.Size_Code);
                                $("#size3").append(data.ProductName);
                                $("#unit3").append("R", data.Product_Price - (data.Product_Price * 0.15));
                                $("#qy3").append($("#AppQty1").val());
                                $("#tot3").append("R", data.Product_Price * $("#AppQty1").val())
                            });
                        });
                

                    
                        $("#DepQuantity").keyup(function () {
                            var value = $("#DepCode").val();
                            $.get('/Sale/getProduct?Code=' + value + '', null, function (data) {

                                $("#code4").html("");
                                $("#size4").html("");
                                $("#unit4").html("");
                                $("#qy4").html("");
                                $("#tot4").html("");

                                $("#code4").append(data.Size_Code);
                                $("#size4").append(data.Deposit);
                                $("#unit4").append("R", data.DepositFee - (data.DepositFee * 0.15));
                                $("#qy4").append($("#DepQuantity").val());
                                $("#tot4").append("R", data.DepositFee * $("#DepQuantity").val())

                                //var Tot4 = ((data.DepositFee * $("#qy4").val()));

                            });
                        });
                    

                        $("#cash").click(function () {
                            $("#total").html("");

                            var price1 = $("#price1").val();
                            var price2 = $("#price2").val();
                            var qty1 = $("#qty1").val();
                            var qty2 = $("#qty2").val();
                            var prod_price1 = $("#AppPrice1").val();
                            var prod_qty1 = $("#AppQty1").val();
                            var DeepFee = $("#DepFee").val();
                            var DeepQty = $("#DepQuantity").val();
                            var ServiceType = $("#ServiceType").val();
                            console.log(ServiceType);

                            //Check final total value
                            if (ServiceType == 1) {
                                var finalTot = (price1 * qty1) + (price2 * qty2) + (prod_price1 * prod_qty1) + (DeepFee * DeepQty) + 20;
                                $("#total").append("<h4><strong>" + "Total Due: R", currPrice + "</strong></h4>");

                            }

                            else if (ServiceType == 0) {
                                //var finalTot = (price1 * qty1) + (price2 * qty2) + (prod_price1 * prod_qty1) + (DeepFee * DeepQty);
                                $("#total").append("<h4><strong>" + "Total Due: R", currPrice + "</strong></h4>");
                            }
                        });

                 
                    $("#SaleType").change(function () {
                        document.getElementById('cash').readOnly = false;
                        $("#EFT_Message").html("");
                        console.clear();
                        var value = $("#SaleType").val();
                        console.log(value);
                        if (value == 1) {
                            document.getElementById('cash').readOnly = true;
                            $("#EFT_Message").append("<h4><strong>" + "Complete Payment on EFTPOS Machine" + "</strong></h4>")
                        }
                    });
                    

                                      
                        $("#ServiceType").change(function () {
                            console.clear();
                            var value = $("#ServiceType").val();

                        });
                    
                        $("#Delivery").change(function () {
                            var isChecked = $("#Delivery").is(":checked");

                            if (isChecked == true) {
                                document.getElementById('cash').readOnly = true;
                            }
                            else if (isChecked == false) {
                                document.getElementById('cash').readOnly = false;
                            }
                        })
                    
                    $("#Add_item").click(function () {
                        $('#myModal_Items').modal({ show: true });
                    });


                    // opening modal viw 
                    $("#empties").click(function () {
                            $("#submit").hide();
                            $("#Empties_text").html('');
                            $('#myModal').modal({ show: true });
                            //check items (1 and 2) -> 
                            // Need to change this iterate through array to look for items 
                            
                            var tempItem;
                            var tempQty;
                            var tot_quantity = 0;
                            var Dep_quantity = 0;

                            if ($("#DepQuantity").val() != '') {
                                Dep_quantity = parseInt($("#DepQuantity").val());
                            }
                            
                            for (var i = 0; i < size.length; i++) {
                                //set #temp variables 
                                tempItem = size[i];
                                tempQty = quantity[i]
                                
                                //check #temp variable
                                if (tempItem == 9 || tempItem == 14 || tempItem == 19 || tempItem == 48) {  
                                    tot_quantity += tempQty
                                }
                                else {
                                    //skip or do nothing - no change required on tot_quantity variable
                                    continue;
                                }
                            }

                            //final emptiesDue
                            tot_quantity = tot_quantity - Dep_quantity;

                            if (tot_quantity == 0) {
                                $("#Empties_text").append("<p>" + "Outstanding Empties: " + "<strong>" + tot_quantity + "</strong>" + "</p>")
                                $("#section1").hide();
                            }
                            else {
                                $("#section1").show();
                                $("#Empties_text").append("<p>" + "Outstanding Empties: " + "<strong>" + tot_quantity + "</strong>" + "</p>")
                            }
                        });

                        function checKEmptiesDue() {

                        }


                        $("#EmptySize1").change(function () {
                            var value = $(this).val();
                            console.log(value);
                        });


                        //adding empty details to array 
                        $("#add").click(function () {
                        //need to decrement empties due text on #add click function/method
                        var size = $("#EmptySize1 :Selected").text().toString();
                        var qty_value = $("#Empty_Qty").val();
                        //var tot_quantity;

                        if (array_items.length <= 0) {
                            if (array_qty.length <= 0) {
                                array_items.push(size);
                                array_qty.push(qty_value);
                            }
                        }
                        else if (array_items.length > 0 && !array_items.includes(size)) {
                            if (array_qty.length > 0) {
                                array_items.push(size);
                                array_qty.push(qty_value);
                            }
                        }
                        else if (array_items.length > 0 && array_items.includes(size)) {
                            if (array_qty.length > 0) {
                                for (var i in array_items) {
                                    if (array_items[i] === size) {
                                        array_qty.splice(i, 1, parseFloat(qty_value));
                                    }
                                };
                            };
                        };

                        if (total == 0) {
                            //Hide add item button
                            //unhide submit button 
                            //writing needs to be updated on modal view 
                        }

                         // need to decrement {tot_quantity}
                        //tot_quantity = tot_quantity - qty_value;
                        //console.log('Captured Empty Size: ',array_items)
                        //console.log(array_qty)
                        //console.log("empties due:", tot_quantity)
                    });

                    $("#submit").click(function () {
                        var sale = {};
                        var Empty = {};

                        Empty.getSize = array_items;
                        Empty.getQuantity = array_qty;

                        var Item1 = $("#GasSize1").val();
                        var Item2 = $("#GasSize2").val();
                        var price1 = $("#price1").val();
                        var price2 = $("#price2").val();
                        var qty1 = $("#qty1").val();
                        var qty2 = $("#qty2").val();
                        var product1 = $("#Prod_Name1").val();
                        var prod_price1 = $("#AppPrice1").val();
                        var prod_qty1 = $("#AppQty1").val();
                        var cash = $("#cash").val();
                        var DeepItem = $("#DepNames").val();
                        var DeepFee = $("#DepFee").val();
                        var DeepQty = $("#DepQuantity").val();
                        var new48 = $("#New").is(":checked");
                        var delivery = $("#Delivery").is(":checked");
                        var SaleType = $("#SaleType").val();
                        var ServiceType = $("#ServiceType").val();
                        console.log("Service Type", ServiceType);

                        console.log(new48);

                        //Need to iterate through arrays and extract all items

                        var items;
                        sale.item1 = Item1;
                        sale.item2 = Item2;
                        sale.price1 = price1;
                        sale.price2 = price2;
                        sale.Qty1 = qty1;
                        sale.Qty2 = qty2;
                        sale.Product_Item1 = product1;
                        sale.Product_Price1 = prod_price1;
                        sale.Product_Qty1 = prod_qty1;
                        sale.cashReceived = cash;
                        sale.DepositItem = DeepItem;
                        sale.DepositPrice = DeepFee;
                        sale.DepositQuantity = DeepQty;
                        sale.New = new48;
                        sale.ServiceType = ServiceType;
                        sale.SaleType = SaleType;
                        sale.Delivery = delivery;
                        //items = parseFloat(qty1) + parseFloat(qty2) + parseFloat(prod_qty1) + parseFloat(prod_qty1);
                        //console.log("Sale Items: ", items);
                        sale.TotalItems = items;
                        sale.items = array_items;
                        sale.quanties = array_qty;
                        // console.log("New 48 checked:", new48);


                        //check empty length before passing values to emptyController 
                        if (array_items.length > 0) {
                            $.post('/Empty_Cylinder/Order_DecrementEmpies/', Empty, function () {
                                alert('Empties updated')
                            });
                        }

                        $.post('/Sale/RecordSale/', sale, function () {
                            alert('New Sale Added');


                            $.get('/Sale/getLatestSale/' + '', null, function (data) {
                                var newS = data.Sale_Id;
                                location.href = "/Sale/GenerateInvoice/" + newS;

                            });
                        });
                    });
                    });

                    //Need decrement stock -> implement stockController?



                    //function CheckDup() {

                    //    var name = "Lungelo";
                    //    var Dup_characters = [];
                    //    var Single_characters = [];
                    //    var Non_Dup_Char = '';

                    //    for (var i = 0; i < name.length; i++) {
                    //        //check if characters array is empty
                    //        if (Single_characters.length == 0) {
                    //            Single_characters.push(name[i]);
                    //        }
                    //        else {
                    //            //Need to check current name[i] character and see if it is included in Single array
                    //            if (Single_characters.includes(name[i])) {
                    //                //add to dup_array
                    //                Dup_characters.push(name[i]);
                    //                //remove char from single array
                    //                Single_characters.splice(Single_characters.indexOf(name[i]), 1);
                    //            }
                    //            else {
                    //                Single_characters.push(name[i]);
                    //            }
                    //        }
                    //    }

                    //    Non_Dup_Char = Single_characters[0];

                    //    return Non_Dup_Char;
                    //}



                </script>
                @*$("#Save").click(function () {
                var Empty = {}

                Empty.getSize = Items;
                Empty.getQuantity = quantity;

                $.post('/Empty_Cylinder/Order_DecrementEmpies/', Empty, function () {
                    alert('Empties updated')
                });
            });*@

            }
