
@{
    ViewBag.Title = "searchSale";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<h3><strong>Sale > Search Sale</strong></h3>
<br />
<div class="row">
    <div class="col-md-3">
        <a href="#" class="list-group-item" style="font-size:large"><span class="glyphicon glyphicon-th-list"></span>  Menu</a>

        <a href="" class="list-group-item" style="font-size:large"><strong>Sale</strong></a>
        <a href="@Url.Action("NewSale","Sale")" class="list-group-item"><span class="glyphicon glyphicon-plus"></span> New Sale</a>
        <a href="@Url.Action("Index","Home")" class="list-group-item"><span class="glyphicon glyphicon-eye-open"></span> View Today's Sales</a>
        <a href="@Url.Action("S_Sale","Sale")" class="list-group-item active"><span class="glyphicon glyphicon-search"></span>  Search Sale</a>

        <a href="#" class="list-group-item" style="font-size:large"><strong>Stock</strong></a>
        <a href="@Url.Action("ViewStock","Stock")" class="list-group-item"><span class="glyphicon glyphicon-plus"></span>  New Stock</a>
        <a href="@Url.Action("AvailableStock","Stock")" class="list-group-item"><span class="glyphicon glyphicon-eye-open"></span> View Stock Details</a>

        <a href="#" class="list-group-item" style="font-size:large"><strong>Invetory</strong></a>
        <a href="@Url.Action("Create","Inventories")" class="list-group-item"><span class="glyphicon glyphicon-plus"></span>  New Invetory</a>
        <a href="@Url.Action("Index","Inventories")" class="list-group-item"><span class="glyphicon glyphicon-eye-open"></span>  Show Invetories</a>

        <a href="#" class="list-group-item" style="font-size:large"><strong>Reports</strong> </a>
        <a href="@Url.Action("DailyReport","Report")" class="list-group-item"><span class="glyphicon glyphicon-eye-open"></span>  Daily Report</a>

        <a href="#" class="list-group-item" style="font-size:large"><strong>Empties</strong> </a>
        <a href="@Url.Action("Create","Inventories")" class="list-group-item"><span class="glyphicon glyphicon-plus"></span> Record Emptiess</a>.
        <a href="@Url.Action("DailyReport","Report")" class="list-group-item"><span class="glyphicon glyphicon-eye-open"></span> Available Empties</a>
        <a href="#" class="list-group-item"><span></span> Logout</a>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Search Sale</h3>
            </div>
            <div class="panel-body" style="align-content:center">
                <input type="text" class="form-control" name="InvoiceId" id="InvId" placeholder="Invoice Number" />
                @if(ViewBag.Error != null)
                {
                    <h3 style="color:red" id="Error">@ViewBag.Error</h3>
                }
                <br />
             <input type="button" id="btnSearch" value="Search Sale"/>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />

@section Scripts{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#btnSearch").click(function () {
                var invoiceId = $("#InvId").val();
                $.get('/Sale/searchSale?InvoiceID=' + invoiceId, null, function (data) {
                    console.log(data);
                    location.href = '/Sale/searchSale?InvoiceID=' + invoiceId;
                });
            });
        });
    </script>
}