@model ZumaneGas_OperationalSystem.Models.Empty_Cylinder

@{
    ViewBag.Title = "Decrement_Empties";
}

<h4><strong>Empties / Order / Decrement Empties</strong></h4>
<br />
<div class="row">
    <div class="col-md-3">
        <a href="#" class="list-group-item" style="font-size:large"><span class="glyphicon glyphicon-th-list"></span>  Menu</a>

        <a href="" class="list-group-item" style="font-size:large"><strong>Sale</strong></a>
        <a href="@Url.Action("NewSale","Sale")" class="list-group-item"><span class="glyphicon glyphicon-plus"></span> New Sale</a>
        <a href="@Url.Action("Index","Home")" class="list-group-item"><span class="glyphicon glyphicon-eye-open"></span> View Today's Sales</a>
        <a href="@Url.Action("S_Sale","Sale")" class="list-group-item"><span class="glyphicon glyphicon-search"></span>  Search Sale</a>

        <a href="#" class="list-group-item" style="font-size:large"><strong>Stock</strong></a>
        <a href="@Url.Action("ViewStock","Stock")" class="list-group-item"><span class="glyphicon glyphicon-plus"></span>  New Stock</a>
        <a href="@Url.Action("AvailableStock","Stock")" class="list-group-item"><span class="glyphicon glyphicon-eye-open"></span> View Stock Details</a>

        <a href="#" class="list-group-item" style="font-size:large"><strong>Invetory</strong></a>
        <a href="@Url.Action("Create","Inventories")" class="list-group-item"><span class="glyphicon glyphicon-plus"></span>  New Invetory</a>
        <a href="@Url.Action("Index","Inventories")" class="list-group-item"><span class="glyphicon glyphicon-eye-open"></span>  Show Invetories</a>

        <a href="#" class="list-group-item" style="font-size:large"><strong>Reports</strong> </a>
        <a href="@Url.Action("DailyReport","Report")" class="list-group-item"><span class="glyphicon glyphicon-eye-open"></span>  Daily Report</a>
        <a href="@Url.Action("RetrieveReport","Report")" class="list-group-item"><span class="glyphicon glyphicon-search"></span>  Retrieve Report</a>

        <a href="#" class="list-group-item" style="font-size:large"><strong>Empties</strong> </a>
        <a href="@Url.Action("Create","Inventories")" class="list-group-item active"><span class="glyphicon glyphicon-plus"></span> Record Emptiess</a>
        <a href="@Url.Action("DailyReport","Report")" class="list-group-item"><span class="glyphicon glyphicon-eye-open"></span> Available Empties</a>
        <a href="#" class="list-group-item"><span></span> Logout</a>
    </div>
    <div class="col-md-9">
        <h4><strong>Minus Empties:</strong></h4>
        <br />
        <div class="form-group">
            <div class="row" id="Status">

            </div>
            <div class="col-md-10">
                <small class="form-text text-muted">Total Empties (Used for order)</small>
                <input type="text" id="Total_Empties" class="form-control" placeholder="Total Empties" />
            </div>
        </div>
        <br/>
        <br/>
        <hr />
        <div id="Single_Add">
            <div class="form-group">
                <div class="col-md-10" id="Total_Wording">
                    
                </div>
            </div>
            <br />
            <hr />
            <div class="form-group">
               <div class="col-md-10">
                    @Html.DropDownListFor(model => model.EmptiesID, ViewBag.Inv as SelectList, "Cylinder Size", new { @class = "form-control" })
                   <h5>Select Size*</h5>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <div class="form-group">
                        <input type="text" class="form-control" required name="" placeholder="New Empties" id="New" />
                        <h5>Quantity*</h5>
                    </div>
                </div>
            </div>
            <div id="Info" class="col-sm-offset-1">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3" style="background-color:lightgrey">
                            <h5>Size</h5>
                        </div>
                        <div class="col-md-1" style="background-color:lightgrey">
                            <h5>QTY</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <h5 id="size1"></h5>
                            <h5 id="size2"></h5>
                            <h5 id="size3"></h5>
                            <h5 id="size4"></h5>
                        </div>
                        <div class="col-md-1">
                            <h5 id="qty1"></h5>
                            <h5 id="qty2"></h5>
                            <h5 id="qty3"></h5>
                            <h5 id="qty4"></h5>
                        </div>
                    </div>
                </div>

       @*<div class="col-md-9" style="padding-left: 10px;">
        <h5 style="font-weight:bold">Order Items:</h5>
        <div class="row">
            <div class="col-md-3">
                <p style="font-size:small" id="size1"><strong>Size (kg)</strong></p>
            </div>
            <div class="col-md-3">
                <p style="font-size:small"  id="size2"><strong>Unit Price</strong></p>
            </div>
            <div class="col-md-3">
                <p style="font-size:small" id="size3"><strong>Quantity</strong></p>
            </div>
            <div class="col-md-3">
                <p style="font-size:small" id="size4"><strong>Total Price</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <p style="font-size:small" id="qty1"></p>
            </div>
            <div class="col-md-3">
                <p style="font-size:small" id="qty2"></p>
            </div>
            <div class="col-md-3">
                <p style="font-size:small" id="qty3"></p>
            </div>
            <div class="col-md-3">
                <p style="font-size:small" id="qty4"></p>
            </div>
        </div>
    </div>*@
            </div>
            <br />
            <br />
            <br/>
            <div class="form-group">
                <div class="col-md-10" style="padding-left:0px">
                    <button type="button" class="btn btn-secondary" id="capture">Capture Details</button>
                    <button type="button" class="btn btn-success" id="Save">Save Details</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            var Items = [];
            var quantity = [];
            var Total = 1;
            var Orig_Value = 0;

            window.onload = function () {
                $("#Single_Add").hide();
                $("#Save").hide();
                $("#Info").hide();
            }

            $("#Total_Empties").change(function () {
                var Current_Total = $(this).val();
                Total = 0;
                Total = Current_Total - Total;
                $("#Total_Wording").html("");
                $("#Total_Wording").append('<h4>' + 'Total Empties: ' + '<strong>' + Total + '</strong>' + '</h4>');
                $("#Single_Add").fadeIn(1000);
                console.log('Start Total: ', Total)
            });

            $("#EmptiesID").change(function () {
                var value = $("#EmptiesID :selected").text().toString();
                $.get("/Empty_Cylinder/GetCurrent_Quantity?Size=" + value, function (data) {
                    var current_quantity = data.Empty_Size_Quantity;
                    console.log(current_quantity)
                });
            });

            $("#capture").click(function () {
                console.clear();
                $("#Info").fadeIn(1000);
                $("#Status").html("");
                var qty = $("#New").val();
                var size = $("#EmptiesID :selected").text().toString();

                if (Total >= qty) {
                    //1. No Items
                    if (Items.length <= 0) {
                        Items.push(size);
                        quantity.push(parseInt(qty));
                        alert('Condition 1');
                        $("#size1").append(size);
                        $("#qty1").append(qty);

                    }
                        //2. length > 0
                    else if (!Items.includes(size)) {
                        Items.push(size);
                        quantity.push(parseInt(qty));
                        alert('Condition 2');
                        //if (Items.length == 1) {
                        //    $("#size2").append(size);
                        //    $("#qty2").append(qty);
                        //}
                        //else if (Items.length == 2) {
                        //    $("#size2").append(size);
                        //    $("#qty2").append(qty);
                        //}
                        //else if (Items.length == 3) {
                        //    $("#size3").append(size);
                        //    $("#qty3").append(qty);
                        //}
                        //else if (Items.length == 4) {
                        //    $("#size4").append(size);
                        //    $("#qty4").append(qty);
                        //}
                    }
                        //3. Update Array
                    else if (Items.includes(size)) {
                        for (var i in Items) {
                            if (Items[i] === size) {
                                Orig_Value = quantity[i]
                                quantity.splice(i, 1, parseInt(qty) + Orig_Value);
                                alert('Condition 3: Updated succesfully');
                            }
                        }
                    }
                }

                var current_qty = parseInt($("#New").val());
                if (Total != 0) {
                    if (Total >= current_qty) {
                        $("#Total_Wording").html("");
                        Total = Total - current_qty;
                        $("#Total_Wording").append('<h4>' + 'Total Empties: ' + '<strong>' + Total + '</strong>' + '</h4>');
                    }
                    else {
                        $("#Status").append("<div class='alert alert-danger' role='alert'>" + "<img src='/Images/exclamation-mark(2).png' class='img-circle' style='padding-bottom: 2px;'>" + "<span>" + " Quantity greater than Empties due" + "</span>" + "</div>")
                    }
                }
                console.log('Current Total: ', Total)
                console.log('Curr Qty: ', current_qty)
                console.log(Items);
                console.log(quantity);
            });

            function checkTotal() {
                if (Total == 0) {
                    $("#Status").append("<div class='alert alert-success' role='alert'>" + "<img src='/Images/check.png' class='img-circle' style='padding-bottom: 2px;'>" + "<span>" + " No empty due!!!" + "</span>" + "</div>")
                    $("#capture").hide();
                    $("#Save").show();
                }
            };

            $("body").on('DOMSubtreeModified', "#Total_Wording", function () {
                checkTotal();
            });

            $("#Save").click(function () {
                var Empty = {}

                Empty.getSize = Items;
                Empty.getQuantity = quantity;

                $.post('/Empty_Cylinder/Order_DecrementEmpies/', Empty, function () {
                    alert('Empties updated')
                });
            });


            });
    </script>
   
}